/* ************************************************************************************************
								Menu Styles
************************************************************************************************ */

.navigation {
    list-style: none;
    background: ##fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.navigation li{
    margin-bottom: 10px;
   }
   
.navigation a{
	color:#000;
	font-weight: bold;
	font-size: 17px;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    min-height:500px;
    left: 0;
    z-index: 1;
    color:#7030a0;
    padding: 2em;
    /*background-image: url("/img/logoback.png");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50% 0;*/

}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}


label[for="nav-trigger"] {
    position: fixed;
    top: 40px;
    left: 45px;
    z-index: 2;
    
      width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}

